<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyang.hnbt.applets.mapper.MerchartAmountDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunyang.hnbt.applets.entity.MerchartAmountDetail">
        <result column="mer_no" jdbcType="VARCHAR" property="merNo" />
        <result column="dateallstr" jdbcType="VARCHAR" property="dateallstr" />
        <result column="yearint" jdbcType="BIGINT" property="yearint" />
        <result column="monthint" jdbcType="BIGINT" property="monthint" />
        <result column="dateint" jdbcType="BIGINT" property="dateint" />
        <result column="type" jdbcType="BIGINT" property="type" />
        <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
        <result column="business_id" jdbcType="VARCHAR" property="businessId" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    </resultMap>

<insert id="insertAllOutput">
    INSERT INTO `merchart_amount_detail` (
	`mer_no`,
	`dateallstr`,
	`yearint`,
	`monthint`,
	`dateint`,
	`type`,
	`actual_amount`,
	business_id,
	`create_time`
    ) SELECT
        t.mer_no,
        t.input_time AS dateallStr,
        LEFT (t.input_time, 4),
        SUBSTR(t.input_time, 5, 2),
        SUBSTR(t.input_time, 7, 2),
        3 AS type,
        t.money,
        t.id,
        NOW()
    FROM
        (
            SELECT
                t1.mer_no,
                DATE_FORMAT(t1.check_end_time, '%Y%m%d') AS 'input_time',
                t.money,
                t.id
            FROM
                subsidy_item_new t,
                subsidy_new t1
            WHERE
                t.main_id = t1.id
            AND t1.check_end_time IS NOT NULL and DATE_FORMAT(t1.check_end_time,'%Y%m%d') &lt; DATE_FORMAT(CURDATE(),'%Y%m%d')
        ) t,
        hnbt.pay_mer_no t1
    WHERE
        t.mer_no = t1.mer_no  order by  dateallStr
</insert>
    <select id="selectTodayOutputDetail" resultMap="BaseResultMap" >
        SELECT
            t.mer_no,
            t.input_time AS dateallStr,
            LEFT (t.input_time, 4) AS yearint,
            SUBSTR(t.input_time, 5, 2) AS monthint,
            SUBSTR(t.input_time, 7, 2) AS dateint,
            3 AS type,
            t.money AS actual_amount,
            t.id AS business_id,
            NOW() AS 'create_time'
        FROM
            (
                SELECT
                    t1.mer_no,
                    DATE_FORMAT(t1.check_end_time, '%Y%m%d') AS 'input_time',
                    t.money,
                    t.id
                FROM
                    subsidy_item_new t,
                    subsidy_new t1
                WHERE
                    t.main_id = t1.id
                AND DATE_FORMAT(t1.check_end_time, '%Y%m%d') = DATE_FORMAT(date_sub(CURDATE(),interval 1 day),'%Y%m%d')
        ) t,
         hnbt.pay_mer_no t1
        WHERE
            t.mer_no = t1.mer_no

    </select>

    <select id="selectAllOutputDetail" resultMap="BaseResultMap" >
        SELECT
            t.mer_no,
            t.input_time AS dateallStr,
            LEFT (t.input_time, 4) AS yearint,
            SUBSTR(t.input_time, 5, 2) AS monthint,
            SUBSTR(t.input_time, 7, 2) AS dateint,
            3 AS type,
            t.money AS actual_amount,
            t.id AS business_id,
            NOW() AS 'create_time'
        FROM
            (
                SELECT
                    t1.mer_no,
                    DATE_FORMAT(t1.check_end_time, '%Y%m%d') AS 'input_time',
                    t.money,
                    t.id
                FROM
                    subsidy_item_new t,
                    subsidy_new t1
                WHERE
                    t.main_id = t1.id and t1.check_end_time is not null

        ) t,
         hnbt.pay_mer_no t1
        WHERE
            t.mer_no = t1.mer_no

    </select>

    <select id="selectTodayRefundDetail" resultMap="BaseResultMap" >
         SELECT
            t.mer_no,
            t.input_time AS dateallstr,
            LEFT (t.input_time, 4) AS yearint,
            SUBSTR(t.input_time, 5, 2) AS monthint,
            SUBSTR(t.input_time, 7, 2) AS dateint,
            2 AS type,
            t.money AS actual_amount,
            t.tran_id AS business_id,
            NOW() AS 'create_time'
        FROM
            (
                SELECT
                    t1.mer_no,
                    DATE_FORMAT(
                        date_sub(
                            t1.check_end_time,
                            INTERVAL 5 DAY
                        ),
                        '%Y%m%d'
                    ) AS 'input_time',
                    t.money,
                    t.tran_id
                FROM
                    subsidy_item_new t,
                    subsidy_new t1
                WHERE
                    t.main_id = t1.id and t.showing_status not in( 0000,1000)
                AND DATE_FORMAT(t1.check_end_time, '%Y%m%d') = DATE_FORMAT(
                    date_sub(CURDATE(), INTERVAL 1 DAY),
                    '%Y%m%d'
                )
                ) t,
                 hnbt.pay_mer_no t1 where t.mer_no = t1.mer_no;
    </select>
     <select id="selectAllRefundDetail" resultMap="BaseResultMap" >
             SELECT
                t.mer_no,
                t.input_time AS dateallstr,
                LEFT (t.input_time, 4) AS yearint,
                SUBSTR(t.input_time, 5, 2) AS monthint,
                SUBSTR(t.input_time, 7, 2) AS dateint,
                2 AS type,
                t.money AS actual_amount,
                t.tran_id AS business_id,
                NOW() AS 'create_time'
            FROM
                (
                    SELECT
                        t1.mer_no,
                        DATE_FORMAT(
                            date_sub(
                                t1.check_end_time,
                                INTERVAL -1 DAY
                            ),
                            '%Y%m%d'
                        ) AS 'input_time',
                        t.money,
                        t.tran_id
                    FROM
                        subsidy_item_new t,
                        subsidy_new t1
                    WHERE
                        t.main_id = t1.id and t.showing_status != '0000' and t1.check_end_time is not null
                    ) t,
                     hnbt.pay_mer_no t1 where t.mer_no = t1.mer_no;
        </select>

    <select id="selectTodayInputDetail" resultMap="BaseResultMap" >
        SELECT
            t.mer_no,
            t.input_time AS dateallStr,
            LEFT (t.input_time, 4) as yearint,
            SUBSTR(t.input_time, 5, 2) as monthint,
            SUBSTR(t.input_time, 7, 2) as dateint,
            1 AS type,
            t.balance as actual_amount,
            t.rec_no as business_id
        FROM
            hnbt.`mer_input` t,
            hnbt.pay_mer_no t1
        WHERE
            t.mer_no = t1.mer_no
        AND t1.area_code = concat("'",#{areaCode},"'") and date_format(t.create_time,'%Y%m%d') = date_format(CURDATE(),'%Y%m%d');
    </select>


    <select id="selectAllInputDetail" resultMap="BaseResultMap" >
        SELECT
            t.mer_no,
            t.input_time AS dateallStr,
            LEFT (t.input_time, 4) as yearint,
            SUBSTR(t.input_time, 5, 2) as monthint,
            SUBSTR(t.input_time, 7, 2) as dateint,
            1 AS type,
            t.balance as actual_amount,
            t.rec_no as business_id
        FROM
            hnbt.`mer_input` t,
            hnbt.pay_mer_no t1
        WHERE
            t.mer_no = t1.mer_no
        AND t1.area_code = concat("'",#{areaCode},"'") ;
    </select>

    <delete id="deleteAll">
        delete from merchart_amount_detail;
    </delete>

</mapper>
